@model IEnumerable<SallesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Departamentos";
}

<h1>Departamentos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>
<table class="table  table-striped table-hover text-align:center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <font size="4">
                      @Html.DisplayFor(modelItem => item.Name)
                    </font>
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-primary" style="margin:auto" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" class="btn btn-outline-warning" style="margin:auto" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" class="btn btn-outline-danger" style="margin:auto" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
