@model IEnumerable<SallesWebMvc.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => produto.Descricao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@produto.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@produto.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@produto.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
